body {
    font-family:'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.image-container {
    width: 300px;
    margin: 10px;
    overflow: hidden;
}
.image-container img {
    width: 100%;
    height: auto;
    display: block;
}